body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-image:url('/static/css/background.jpg.jpeg');

background-size:cover;

background-position:center;

font-family:Arial, sans-serif;

}

.container{

width:450px;

padding:50px;

border-radius:20px;

background:rgba(255,255,255,0.2);

backdrop-filter:blur(10px);

}

h1{

text-align:center;

color:white;

margin-bottom:40px;

}

input{

width:100%;

padding:15px;

margin-bottom:25px;

background:transparent;

border:none;

border-bottom:2px solid white;

color:white;

font-size:18px;

}

input::placeholder{

color:white;

}

button{

width:100%;

padding:15px;

font-size:18px;

border:none;

cursor:pointer;

}
