<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker Mahasiswa</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="result-card">

<h1>💰 Expense Tracker</h1>

<h2>Data Berhasil Disimpan</h2>

<p><b>📅 Tanggal :</b> {{ tanggal }}</p>

<p><b>🏷️ Kategori :</b> {{ kategori }}</p>

<p><b>💸 Jumlah :</b> Rp {{ jumlah }}</p>

<a href="/" class="back-btn">
Tambah Data Lagi
</a>

</div>

</body>
</html>